#contenido01 {
    background: url(../img/g6.jpg) no-repeat center center/cover !important;
  }
#contenido02 {
    background: url(../img/s.jpg) no-repeat center center/cover !important;
}
#contenido03 {
    background: url(../img/s.jpg) no-repeat center center/cover !important;
}

